<div class="container">
    <h4>Sửa tài khoản</h4>
    <% resultUser.forEach((item)=> { %>
        <form method="post" action="/suanguoidung/<%=item.id%>">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tên Đăng Nhập</label>
                    <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap" value="<%=item.TenDangNhap%>">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
                    <input type="text" class="form-control" id="MatKhau" name="MatKhau" value="<%=item.MatKhau%>">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="text" class="form-control" id="Email" name="Email" value="<%=item.Email%>">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Vai trò</label>
                    <input type="text" class="form-control" id="VaiTro" name="VaiTro" value="<%=item.VaiTro%>">
                </div>
            <button type="submit" class="btn btn-primary" style="margin-left: 1030px;margin-top: 10px;">Sửa</button>
        </form>
    <%})%>
</div>
