<div class="container">
    <% resultPosts.forEach((item)=> { %> 
        <form action="/suabaiviet/<%=item.id%>" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="" class="form-label">Tieu De</label>
                <input type="text" class="form-control" value="<%=item.TieuDe%>" id="TieuDe" name="TieuDe">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Noi dung</label>
                <input type="text" class="form-control" value="<%=item.NoiDung%>" id="NoiDung" name="NoiDung">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Tac Gia</label>
                <input type="text" class="form-control" value="<%=item.TacGia%>" id="TacGia" name="TacGia">
            </div>
            <div class="mb-3">
                <label for="client">Danh mục</label>
                <select id="MaDanhMuc" name="MaDanhMuc">
                    <!-- Xuất tên danh mục khi edit -->
                    <% resultAllCategory.forEach(itemMaDanhMuc => {%>
                        <% if(itemMaDanhMuc == item.MaDanhMuc) {%>
                            <option value="<%=itemMaDanhMuc.MaDanhMuc%>" name="<%= itemMaDanhMuc.TenDanhMuc %>"><%= itemMaDanhMuc.TenDanhMuc %></option>
                        <% } %>
                    <% }) %>
                    <!-- xuất all danh mục còn lại  -->
                    <% resultAllCategory.forEach(itemMaDanhMuc => {%>
                        <% if(itemMaDanhMuc != item.MaDanhMuc) {%>
                            <option value="<%= itemMaDanhMuc.id %>" name="<%= itemMaDanhMuc.TenDanhMuc %>"><%= itemMaDanhMuc.TenDanhMuc %></option>
                        <% } %>
                    <% }) %>
                </select>
            </div>
            <div class="mb-3">
                <label for="HinhAnh">Hình ảnh</label>
                <input type="file" id="HinhAnh" name="HinhAnh">
                <input type="hidden" name="currentHinhAnh" value="<%=item.HinhAnh%>">
            </div>
            <button class="btn btn-primary" type="submit" style="margin-left: 1030px;">Sửa</button>
        </form>
    <%})%>
</div>