<div class="container">
    <section>
      <div class="row">
        <h4>Phân loại</h4> <hr>
        <% if(ktLienHe == 1){ %>
          <div class="alert alert-success" role="alert">Thêm liên hệ thành công</div>
          <script>
            setTimeout(()=>{
              document.querySelector('.alert').style.display = 'none';
            },2000);
          </script>
        <% }%>
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="row">
              <% for(let index = 0; index < resultPlPostLimit.length; index++) { %> 
                  <div class="col-md-6">
                      <div class="card">
                          <img class="card-img-top" style="width: 300px; height: 180px;" src="images/<%= resultPlPostLimit[index].HinhAnh %>" alt="<%= resultPlPostLimit[index].HinhAnh %>">
                          <div class="card-body">
                              <h5 class="card-title"><a href="/chitietbaiviet?id=<%= resultPlPostLimit[index].id %>"><%= resultPlPostLimit[index].TieuDe %></a></h5>
                              <p class="card-text truncate-2"><%= resultPlPostLimit[index].NoiDung.slice(0,100) %>...</p>
                              <!-- .slice(0,100) -->
                              <a href="/chitietbaiviet?id=<%= resultPlPostLimit[index].id %>" class="btn btn-primary">Xem chi tiết</a>
                          </div>
                      </div>
                  </div>  
              <% } %>
          </div>
          <nav aria-label="Page navigation" style="text-align: center;">
            <ul class="pagination">
              <% if(resultPhanLoai.length >= 11) {%>
                <% for(let i = 1; i <= Math.ceil(resultPhanLoai.length / 11); i++) {%>
                  <li><a href="/?page=<%= i %>"><%= i %></a></li>
                <% } %>
              <% } %>
            </ul>
          </nav>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <aside class="right_content">
            <h2>Xem nhiều nhất</h2>
              <% for(let index = 0;index < resultViewLimit.length;index++){ %>
                  <div class="card">
                      <img class="card-img-top" style="width: 300px; height: 180px;" src="images/<%= resultViewLimit[index].HinhAnh %>" alt="<%= resultViewLimit[index].HinhAnh %>">
                      <div class="card-body">
                          <h5 class="card-title"><a href="/chitietbaiviet?id=<%= resultViewLimit[index].id %>"><%= resultViewLimit[index].TieuDe %></a></h5>
                          <p class="card-text truncate-2"><%= resultViewLimit[index].NoiDung.slice(0,100) %>...</p>
                          <!-- .slice(0,100) -->
                          <a href="/chitietbaiviet?id=<%= resultViewLimit[index].id %>" class="btn btn-primary">Xem chi tiết</a>
                      </div>
                  </div>
              <% } %>
          </aside>
        </div>
      </div>
    </section>
  </div>